.calculadora {
    width: 250px;
    background-color: rgb(22, 11, 51);
    padding: 14px 14px 14px 14px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linha {
    display: flex;
}
button {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(27, 5, 66);
    margin: 3px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-size: 20px;
}
button:hover {
    color:white;
    background-color: rgb(152, 255, 156);
}

button:active {
    color: white;
    background-color: rgb(152, 255, 156);
}

.operador {
    color: rgb(255, 255, 255);
    background-color:rgb(63, 9, 131);
}

.igual {
    color: white;
    background-color: rgb(4, 255, 0);
}

.display {
    display: flex;
    justify-content: end;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}

.historico {
    display: flex;
    color: rgb(74, 74, 74);
    justify-content: end;
    height: 50px;
    padding: 10px 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    border-bottom: 2px solid rgb(74, 74, 74); 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

